app = "taskflow-api"
primary_region = "ord"

[build]
  dockerfile = "Dockerfile"

[env]
  APP_ENV = "prod"
  APP_HOST = "0.0.0.0"
  APP_PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
